html {
    height: 100%;
    font-family: gilroy-medium;
    font-weight: normal !important;
}

body {
    font-family: Raleway, sans-serif;
    height: 100%;
    font-weight: normal !important;
}

.title {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}

.blink-block {
    text-align: center;
}

.blink-text {
    display: inline-block;
    color: black;
    vertical-align: middle;
    letter-spacing: 5px;
    font-size: 30px;
}
