@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Main page titles */
.maintitle {
    margin-top: 10%;
    letter-spacing: 2px;
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-weight: bold !important;
    font-size: 3vw !important;
    text-align: center;
}
.mainblink {
    padding-top: 30px;
    letter-spacing: 3px !important;
    font-size: 20px !important;
    text-align: center !important;
    font-family: monospace !important;
    margin-bottom: 10px !important;
    color: #e0e0e0e0;
}
.example_d {
    margin-top: 12%;
    color: #eeeeee!important;
    text-transform: uppercase;
    padding: 15px;
    border: 2px solid #eeeeee !important;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }

.example_d:hover {
    background-color: #eeeeee;
    margin-top: 12%;
    color: #000000 !important;
    cursor: pointer;
    border-color: #e0e0e0e0 !important;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    }

/* Main page carousel */
.carouselcontainer {
    display: block;
    width: 100%;
    height: 660px;
    position: relative;
    overflow: hidden;
}

.cropped {
    width: 100%; /* width of container */
    height: 660px; /* height of container */
    object-fit: cover;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    filter: contrast(200%);
    -webkit-filter: contrast(200%);
    filter: saturate(80%);
    -webkit-filter: saturate(80%);

    -webkit-filter: brightness(60%);
    filter:brightness(60%);
}

.home-title-center {
    width: 100%;
    position: absolute;
    top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.title-center {
    width: 100%;
    position: absolute;
    top: 40%;
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif !important;
}
.title-center h1 {
    font-size: 4vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 200px;
    margin-bottom: 50px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 200px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 200px;
    text-align: right;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 200px;
    margin-bottom: 50px;
    text-align: right;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carouselcontainer h2 {
    color: #fff;
    font-size: 2vw;
    margin-top: 50px;
    margin-bottom: 0;
    line-height: 27px;
    letter-spacing: 2px;
    font-weight: 400;
}

.carouselcontainer h1 {
    color: #fff;
    font-size: 4vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 6px;
}
.carouselcontainer p {
    color: #fff;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 0.075em;
    font-size: 15px;
    line-height: 20px;
}

/* Main page other sections */
#mainsections {
    padding: 100px 0;
    background: #f6f6f6;
}

.section-title {
    margin-bottom: 70px;
}
.section-title h2 {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    letter-spacing: 0.075em;
}
.section-title h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #09c6f9 0%, #045de9 100%);
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
}
.section-title p {
    letter-spacing: 0.075em;
}
#linktree-frame {
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    #linktree-frame {
        height: 1200px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    #linktree-frame {
        height: 1100px;
    }
}

@media only screen and (min-width: 600px) {
    #linktree-frame {
        height: 1000px;
    }
}
/* Footer */
.footer {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    color: #fff;
}
.list-reset {
    text-align: right;
}

.list-reset li {
    text-align: right;
    display: inline;
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
}
.list-reset a {
    color: #3eadcf;
}
.list-reset a:hover {
    color: #abe9cd;
    text-decoration: none;
}


/* About page */
.darkened{
    filter: brightness(70%);
}

.middleText {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
}

.carousel-caption {
    background: rgba(143, 145, 147, 0.9);
    border-radius: 20%;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}